# 1. Analysis Server
analysis_server/.venv/
analysis_server/__pycache__/
analysis_server/data/*.db
analysis_server/data/*.csv

# 2. ai-agent
__pycache__/
*.pyc
modu-ai/
venv/
.venv/
.vscode/
.idea/
.env